* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    color: white;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: gray;
}

section {
    padding: 30px;
    width: fit-content;

    z-index: 1;
    border: 3px solid black;
    border-radius: 5rem;

}

img {
    max-height: 100%;
    max-width: 100%;
}

.main-container {
    background: url(./Wave\ Image.jpg);
    background-size: cover;
    height: 90%;
    width: 90%;
    border-radius: 5rem;

    display: flex;
    justify-content: end;
}

.logo-container {
    display: flex;
    justify-content: end;
}