* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    color: white;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: gray;
}

.container {
    display: flex;
    flex: 0 0 auto;
    height: 90vh;
    width: auto;
}

section {
    border: 1px solid white;
    padding: 50px;
    z-index: 1;
}

.waterImage {
    max-width:100%;
    max-height:100%;

    border-radius: 5%;
}